* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  background: #c5aa64;
  color: #ffffff;
}

body,
input,
textarea,
select,
button {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 87.5%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 81.75%;
  }
}
.animate-up-down {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.jump {
  display: inline-block;
  margin: auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
}
.jump .dots1 {
  position: absolute;
  bottom: 20%;
  left: 20%;
}
.jump .dots2 {
  position: absolute;
  bottom: 20%;
  right: 20%;
  transform: scale(-1, 1);
}
.jump .dot {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff4440;
  opacity: 0;
}
.jump .dot1 {
  -webkit-animation: 1s dot infinite;
          animation: 1s dot infinite;
}
.jump .dot2 {
  -webkit-animation: 1s dot-2 infinite;
          animation: 1s dot-2 infinite;
}
.jump .circle {
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #fcbf29;
  -webkit-animation: 1s cirle-dot infinite;
  animation: 1s cirle-dot infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  opacity: 0;
}
.jump img {
  display: block;
  margin: auto;
  width: 56px;
  height: 56px;
  -webkit-animation: 1s jump infinite;
  animation: 1s jump infinite;
  -webkit-animation-timing-function: cubic-bezier(0.92, 0.18, 0.04, 0.92);
  animation-timing-function: cubic-bezier(0.92, 0.18, 0.04, 0.92);
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
@-webkit-keyframes jump {
  0% {
    transform: translate3d(-10px, -30px, 0) rotate(-15deg);
  }
  50% {
    transform: translate3d(0, 8px, 0) scaleY(0.96);
  }
  100% {
    transform: translate3d(10px, -30px, 0) rotate(15deg);
  }
}
@keyframes jump {
  0% {
    transform: translate3d(-10px, -30px, 0) rotate(-15deg);
  }
  50% {
    transform: translate3d(0, 8px, 0) scaleY(0.96);
  }
  100% {
    transform: translate3d(10px, -30px, 0) rotate(15deg);
  }
}
@-webkit-keyframes dot {
  0% {
    opacity: 0;
  }
  1% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1) translate3d(-50px, -70px, 0);
    opacity: 0.8;
  }
  100% {
    transform: scale(1) translate3d(-50px, -70px, 0);
    opacity: 0;
  }
}
@keyframes dot {
  0% {
    opacity: 0;
  }
  1% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1) translate3d(-50px, -70px, 0);
    opacity: 0.8;
  }
  100% {
    transform: scale(1) translate3d(-50px, -70px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes dot-2 {
  0% {
    opacity: 0;
  }
  1% {
    transform: scale(0.2);
  }
  70% {
    transform: scale(0.7) translate3d(-50px, -50px, 0);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.7) translate3d(-50px, -50px, 0);
    opacity: 0;
  }
}
@keyframes dot-2 {
  0% {
    opacity: 0;
  }
  1% {
    transform: scale(0.2);
  }
  70% {
    transform: scale(0.7) translate3d(-50px, -50px, 0);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.7) translate3d(-50px, -50px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes cirle-dot {
  0% {
    opacity: 0;
  }
  1% {
    transform: scale(0.2);
  }
  80% {
    transform: scale(1) translate3d(-80px, -40px, 0);
    opacity: 0.8;
  }
  100% {
    transform: scale(1) translate3d(-80px, -40px, 0);
    opacity: 0;
  }
}
@keyframes cirle-dot {
  0% {
    opacity: 0;
  }
  1% {
    transform: scale(0.2);
  }
  80% {
    transform: scale(1) translate3d(-80px, -40px, 0);
    opacity: 0.8;
  }
  100% {
    transform: scale(1) translate3d(-80px, -40px, 0);
    opacity: 0;
  }
}

.mt-login {
  width: 100%;
  height: 100%;
}
.mt-login .login-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
@media (max-width: 900px) {
  .mt-login .login-wrapper {
    grid-template-columns: 1fr;
  }
}
.mt-login .login-wrapper .hero {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5rem;
}
@media (max-width: 900px) {
  .mt-login .login-wrapper .hero {
    display: none;
  }
}
.mt-login .login-wrapper .hero img {
  width: 100%;
}
.mt-login .login-wrapper .form {
  background: #293c2a;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5rem;
}
.mt-login .login-wrapper .form form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.mt-login .login-wrapper .form form .header {
  text-align: center;
}
.mt-login .login-wrapper .form form .header img {
  margin-bottom: 1rem;
  width: 150px;
}
.mt-login .login-wrapper .form form .header .message-content {
  height: 3rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
.mt-login .login-wrapper .form form .header .message-content .message {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -3rem;
  transition: margin-top 0.3s;
}
.mt-login .login-wrapper .form form .header .message-content .message.danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
  margin-top: 0;
}
.mt-login .login-wrapper .form form .input-single {
  display: flex;
  flex-direction: column;
}
.mt-login .login-wrapper .form form .input-single label {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}
.mt-login .login-wrapper .form form .input-single label i {
  color: #c5aa64;
  margin-right: 0.5rem;
}
.mt-login .login-wrapper .form form .input-single input {
  background: transparent;
  border: 0;
  outline: none;
  border-bottom: 1px solid #c5aa64;
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  color: #ffffff;
}
.mt-login .login-wrapper .form form .input-single span {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  color: #dc3545;
  height: 1.5rem;
  margin-bottom: 0.7rem;
}
.mt-login .login-wrapper .form form .input-single span i {
  margin-right: 0.5rem;
}
.mt-login .login-wrapper .form form .input-single button {
  background: #c5aa64;
  color: #ffffff;
  padding: 0.75rem 0;
  font-weight: bold;
  margin-top: 2rem;
  border: 0;
  outline: 0;
  border-radius: 8px;
  filter: brightness(1);
  transition: filter 0.3s;
  cursor: pointer;
}
.mt-login .login-wrapper .form form .input-single button:hover {
  filter: brightness(0.8);
}

.mt-home {
  width: 100%;
  height: 100%;
}
.mt-home .home-wrapper {
  height: 100%;
}
.mt-home .home-wrapper .container {
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 900px) {
  .mt-home .home-wrapper .container {
    grid-template-columns: 1fr;
  }
}
.mt-home .home-wrapper .container div {
  padding: 1rem;
}
.mt-home .home-wrapper .container .info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mt-home .home-wrapper .container .info .header {
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  .mt-home .home-wrapper .container .info .header {
    justify-content: center;
  }
}
.mt-home .home-wrapper .container .info .header:hover {
  filter: brightness(1);
  transition: filter 0.3s;
}
.mt-home .home-wrapper .container .info .header:hover:hover {
  filter: brightness(0.8);
}
.mt-home .home-wrapper .container .info .header img {
  width: 90px;
  margin-right: 1rem;
}
.mt-home .home-wrapper .container .info .header span {
  background: #ea5c5c;
  border-radius: 8px;
  padding: 0.65rem;
}
.mt-home .home-wrapper .container .info .body {
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .mt-home .home-wrapper .container .info .body {
    text-align: center;
    padding: 2rem;
  }
}
.mt-home .home-wrapper .container .info .body h1 {
  font-size: 5rem;
  font-family: "Baloo Bhai 2", cursive;
  line-height: 5rem;
  margin-top: 2rem;
}
@media (max-width: 900px) {
  .mt-home .home-wrapper .container .info .body h1 {
    font-size: 3.2rem;
    line-height: 3.2rem;
    margin-top: 1rem;
  }
}
.mt-home .home-wrapper .container .info .body p {
  font-size: 1.3rem;
  margin-top: 2rem;
}
.mt-home .home-wrapper .container .info .body p strong {
  color: #293c2a;
}
@media (max-width: 900px) {
  .mt-home .home-wrapper .container .info .body p {
    margin-top: 1rem;
    font-size: 1rem;
  }
}
.mt-home .home-wrapper .container .info .body a {
  font-size: 1.3rem;
  margin-top: 2rem;
  background: #549529;
  text-align: center;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  filter: brightness(1);
  transition: filter 0.3s;
  border-radius: 30px;
}
.mt-home .home-wrapper .container .info .body a:hover {
  filter: brightness(0.8);
}
.mt-home .home-wrapper .container .info .body h3 {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 2rem;
  margin-top: 2rem;
  line-height: 2rem;
}
@media (max-width: 900px) {
  .mt-home .home-wrapper .container .info .body h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}
.mt-home .home-wrapper .container .hero {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mt-home .home-wrapper .container .hero img {
  width: 100%;
}
@media (max-width: 900px) {
  .mt-home .home-wrapper .container .hero img {
    width: 50%;
    display: block;
    position: relative;
    margin-top: -1rem;
  }
}

.mt-form {
  width: 100%;
  height: 100%;
}
.mt-form .form-wrapper {
  height: 100%;
}
.mt-form .form-wrapper .container {
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 900px) {
  .mt-form .form-wrapper .container {
    grid-template-columns: 1fr;
    padding-top: 2rem;
  }
}
.mt-form .form-wrapper .container .info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 2rem;
}
.mt-form .form-wrapper .container .info .header {
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  .mt-form .form-wrapper .container .info .header {
    justify-content: center;
  }
}
.mt-form .form-wrapper .container .info .header:hover {
  filter: brightness(1);
  transition: filter 0.3s;
}
.mt-form .form-wrapper .container .info .header:hover:hover {
  filter: brightness(0.8);
}
.mt-form .form-wrapper .container .info .header img {
  width: 90px;
  margin-right: 1rem;
}
.mt-form .form-wrapper .container .info .header span {
  background: #ea5c5c;
  border-radius: 8px;
  padding: 0.65rem;
}
.mt-form .form-wrapper .container .info .body {
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .mt-form .form-wrapper .container .info .body {
    text-align: center;
    padding: 2rem;
  }
}
.mt-form .form-wrapper .container .info .body h1 {
  font-size: 5rem;
  font-family: "Baloo Bhai 2", cursive;
  line-height: 5rem;
  margin-top: 2rem;
}
.mt-form .form-wrapper .container .info .body h3 {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 2rem;
  margin-top: 2rem;
  line-height: 2rem;
}
.mt-form .form-wrapper .container .info .body p {
  font-size: 1.3rem;
  margin-top: 2rem;
}
.mt-form .form-wrapper .container .info .body p a {
  filter: brightness(1);
  transition: filter 0.3s;
  color: #549529;
}
.mt-form .form-wrapper .container .info .body p a:hover {
  filter: brightness(0.8);
}
.mt-form .form-wrapper .container .form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 2rem;
}
@media (max-width: 900px) {
  .mt-form .form-wrapper .container .form {
    margin-bottom: 4rem;
  }
}
.mt-form .form-wrapper .container .form form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background: #293c2a;
  padding: 1.5rem;
  border-radius: 8px;
}
.mt-form .form-wrapper .container .form form .header {
  text-align: center;
}
.mt-form .form-wrapper .container .form form .header h3 {
  font-size: 2rem;
  font-family: "Baloo Bhai 2", cursive;
  line-height: 2rem;
}
.mt-form .form-wrapper .container .form form .header p {
  font-size: 1.3rem;
  margin-top: 2rem;
}
.mt-form .form-wrapper .container .form form .body {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.mt-form .form-wrapper .container .form form .body .input-single {
  display: flex;
  flex-direction: column;
}
.mt-form .form-wrapper .container .form form .body .input-single div {
  background: #ffffff;
  overflow: hidden;
  border-radius: 4px;
  height: 40px;
  display: flex;
}
.mt-form .form-wrapper .container .form form .body .input-single div .icon {
  width: 40px;
  height: 40px;
  background: #c5aa64;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px 0 0 4px;
}
.mt-form .form-wrapper .container .form form .body .input-single div input,
.mt-form .form-wrapper .container .form form .body .input-single div select {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0 1rem;
  background: transparent;
}
.mt-form .form-wrapper .container .form form .body .input-single span {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  color: #dc3545;
  height: 1.5rem;
  margin-bottom: 1rem;
}
.mt-form .form-wrapper .container .form form .body .input-single span i {
  margin-right: 0.5rem;
}
.mt-form .form-wrapper .container .form form .body .input-double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
@media (max-width: 900px) {
  .mt-form .form-wrapper .container .form form .body .input-double {
    grid-template-columns: 1fr;
  }
}
.mt-form .form-wrapper .container .form form .body .input-captcha {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.mt-form .form-wrapper .container .form form .body .input-captcha input {
  width: 100px;
  height: 35px;
  border: 0;
  outline: 0;
  padding: 0 1rem;
  border-radius: 4px;
}
.mt-form .form-wrapper .container .form form .body button {
  background: #c5aa64;
  font-weight: bold;
  color: #ffffff;
  border: 0;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  filter: brightness(1);
  transition: filter 0.3s;
}
.mt-form .form-wrapper .container .form form .body button:hover {
  filter: brightness(0.8);
}
.mt-form .form-wrapper .container .form form .body button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/*

background: $white;
              overflow: hidden;
              border-radius: 4px;
*/
.mt-congratulations {
  width: 100%;
  height: 100%;
}
.mt-congratulations .congratulations-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.mt-congratulations .congratulations-wrapper .container {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
}
.mt-congratulations .congratulations-wrapper .container .logo {
  width: 100px;
  display: block;
}
.mt-congratulations .congratulations-wrapper .container h1 {
  font-size: 5rem;
  font-family: "Baloo Bhai 2", cursive;
  line-height: 5rem;
  margin-top: 2rem;
}
@media (max-width: 900px) {
  .mt-congratulations .congratulations-wrapper .container h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
.mt-congratulations .congratulations-wrapper .container h3 {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 2rem;
  margin-top: 2rem;
  line-height: 2rem;
  color: #293c2a;
}
.mt-congratulations .congratulations-wrapper .container .jump {
  margin-top: 2rem;
}
.mt-congratulations .congratulations-wrapper .container .jump .present {
  width: 120px;
  height: 120px;
  display: block;
}
@media (max-width: 900px) {
  .mt-congratulations .congratulations-wrapper .container .jump .present {
    width: 100px;
    height: 100px;
  }
}
.mt-congratulations .congratulations-wrapper .container p {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.3rem;
}
.mt-congratulations .congratulations-wrapper .container p strong {
  font-size: bold;
  font-family: "Baloo Bhai 2", cursive;
  color: #293c2a;
}
.mt-congratulations .congratulations-wrapper .container a.button {
  font-size: 1rem;
  margin-top: 2rem;
  background: #549529;
  text-align: center;
  padding: 0 2rem;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  filter: brightness(1);
  transition: filter 0.3s;
  border-radius: 20px;
}
.mt-congratulations .congratulations-wrapper .container a.button:hover {
  filter: brightness(0.8);
}

.mt-dashboard {
  width: 100%;
  height: 100%;
}
.mt-dashboard .dashboard-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
@media (max-width: 900px) {
  .mt-dashboard .dashboard-wrapper {
    grid-template-columns: 1fr;
  }
}
.mt-dashboard .dashboard-wrapper .info {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
.mt-dashboard .dashboard-wrapper .info .title {
  font-size: 1.2rem;
  border-bottom: 1px solid #293c2a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mt-dashboard .dashboard-wrapper .info .title a {
  transition: color 0.3;
}
.mt-dashboard .dashboard-wrapper .info .title a:hover {
  color: rgba(41, 60, 42, 0.4);
}
.mt-dashboard .dashboard-wrapper .info .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0;
  margin-bottom: 2rem;
}
@media (max-width: 900px) {
  .mt-dashboard .dashboard-wrapper .info .grid {
    grid-template-columns: 1fr 1fr;
  }
}
.mt-dashboard .dashboard-wrapper .info .grid .item {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 8px;
  color: #293c2a;
  padding: 1rem;
}
.mt-dashboard .dashboard-wrapper .info .grid .item .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mt-dashboard .dashboard-wrapper .info .grid .item .header span {
  font-size: 0.8rem;
}
.mt-dashboard .dashboard-wrapper .info .grid .item .header i {
  font-size: 1.2rem;
}
.mt-dashboard .dashboard-wrapper .info .grid .item strong {
  font-family: "Baloo Bhai 2", cursive;
  font-weight: bold;
  font-size: 1.5rem;
}
.mt-dashboard .dashboard-wrapper .info table {
  margin-top: 1rem;
  border-collapse: collapse;
}
.mt-dashboard .dashboard-wrapper .info table thead {
  background: #293c2a;
  color: #ffffff;
}
.mt-dashboard .dashboard-wrapper .info table thead th {
  text-align: left;
  border-bottom: 1px solid white;
  font-size: 0.9rem;
  padding: 0.3rem;
}
.mt-dashboard .dashboard-wrapper .info table thead th:last-child {
  width: 150px;
}
.mt-dashboard .dashboard-wrapper .info table tbody tr {
  border-bottom: 1px solid rgba(41, 60, 42, 0.7);
}
.mt-dashboard .dashboard-wrapper .info table tbody tr:last-child {
  border-bottom: none;
}
.mt-dashboard .dashboard-wrapper .info table tbody tr td {
  padding: 0.3rem;
  font-size: 0.8rem;
  background: #ffffff;
  color: #293c2a;
}
.mt-dashboard .dashboard-wrapper .hero {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5rem;
  background: #293c2a;
}
@media (max-width: 900px) {
  .mt-dashboard .dashboard-wrapper .hero {
    display: none;
  }
}
.mt-dashboard .dashboard-wrapper .hero img {
  width: 100%;
}
